<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='uft-8'>
  <link rel='stylesheet' href='/reset.css'>
  <link rel='stylesheet' href='/style.css'>
  <title>Bookmark</title>
</head>


<body>
  <header>
    <h1><span class='branding'>Bookmarks</span> &ndash; Never lose yourself</h1>
  </header>

  <nav>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/websites'>All Websites</a></li>
      <li><a href='/websites/new'>New Website</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>