<nav>
  <ul>
    <li><%= link_to('Teams', teams_path) %></li>
    <li><%= link_to('New Team', new_team_path) %></li>
    <li><%= link_to('Players', players_path) %></li>
    <li><%= link_to('New Players', new_player_path) %></li>
  </ul>
</nav>