<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Calc-U-L8r</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  
  <nav>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/about_us'>About Us</a></li>
      <li><a href='/faqs'>FAQs</a></li>
      <li><a href='/basic_calculator'>Basic Calculator</a></li>
      <li><a href='/squareroot'>Squareroot</a></li>
      <li><a href='/age'>Age</a></li>
      <li><a href='/death_clock'>Death Clock</a></li>
    </ul>
  </nav>

  <div>
    <%= yield %>
  </div>

</body>
</html>
