<form action='/websites' method='post'>
  <dl>
    <dt><label for='name'>Name :</label></dt>
    <dd><input id='name' type='text' name='website[name]'></dd>
  </dl>
  <dl>
    <dt><label for='url'>Website URL :</label></dt>
    <dd><input id='url' type='text' name='website[url]'></dd>
  </dl>
  <dl>
    <dt><label for='name'>Details :</label></dt>
   <dd><textarea id='details' name='website[details]'></textarea></dd>
  </dl>
  <dl>
    <dt><label for='genre'>Genre :</label></dt>
    <dd><input id='genre' type='text' name='website[genre]'></dd>
  </dl>
  <button>Add Website</button>
</form>